*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

#add-btn {
    display: block;
    margin: 0 auto;
}

#add-btn:hover {
    cursor: pointer;
}

dialog {
    margin: 0 auto;
}

form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#books-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

.book-tile {
    height: 250px;
    width: 250px;
    background-color: pink;

}

h2 {
    color: blue;
}