*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-krub: 'Krub', arial, helvetica, Sans-serif;
    --cool-blue: rgb(17, 48, 48);
    --color-900: #164E63;
    --color-700: #0E7490;
    --color-600: #0891B2;
    --color-300: #67E8F9;
    --color-100: #CFFAFE;
    --border-color: rgba(114, 13, 84, 0.315);
    --amber-800: #92400E;
    --amber-700: #B45309;

}

body {
    font-family: var(--ff-krub);
    background-color: rgb(204, 179, 151);

}

dialog {
    margin: 0 auto;
    position: absolute;
    top: 20%;

    font-family: 'PT sans', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    border: none;
    border-radius: 15px;
    padding: 3.5rem;

}

dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgba(128, 128, 128, 0.274);
}



label {
    font-size: 1.6rem;
}

input {
    border-radius: 5px;
    border: 1px solid var(--amber-800);

    padding: 8px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 8px;
    align-items: center;

}




#submit-btn {
    background-color: #78350F;
    font-weight: 900;
    font-size: 1.25rem;
    color: white;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1.1em;
    transition: transform 0.2s ease-in-out;
}

#submit-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.top-wrapper {

    background-color: white;
    padding: 2rem 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.356);

}

h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

button {
    font-family: var(--ff-krub)
}

#add-btn {
    display: block;
    margin: 0 auto;
    background-color: #78350F;
    font-weight: 900;
    font-size: 1.25rem;
    color: white;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1.1em;
}

#add-btn:hover {
    cursor: pointer;
}


form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}



#books-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 16px;

    padding: 2rem 0;
}

.book-tile {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 1.5rem;

    border-radius: 15px;
    background-color: white;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.596);

}

h2 {
    color: rgb(2, 17, 17);
    font-size: 1.6rem;
}

hr {
    width: 80%;
    height: 1px;
    border-collapse: collapse;
    color: #164E63;
}

p {
    font-size: 1.2rem;
    font-family: 'PT sans';
    letter-spacing: 0.5px;
}

.btn-box {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    ;
    align-items: center;
    width: 80%;
}

.switch-btn,
.delete-btn {
    width: 120px;
    height: 40px;
    font-weight: 900;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1.1em;
    font-family: var(--krub);



}

.switch-btn:hover,
.delete-btn:hover {
    cursor: pointer;
}


.delete-btn {
    background-color: var(--amber-700);
}




@font-face {
    font-family: 'Krub';
    src: url(fonts/Krub-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'PT sans';
    src: url(fonts/PTSans-Regular.ttf) format('truetype');
}